@model IEnumerable<TunisiaMall.Domain.Entities.order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Total Order")
        </th>
        <th>
            @Html.DisplayName("Card Holder")
        </th>
        <th>
            @Html.DisplayName("Payment Date")
        </th>

        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Payment status")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.amountPayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cardHolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.orderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusPayment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idOrder }) |
            @Html.ActionLink("Details", "Details", new { id=item.idOrder}) |
            @Html.ActionLink("Delete", "Delete", new {id=item.idOrder})
        </td>
    </tr>
}

</table>
